@import url("https://fonts.googleapis.com/...");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #787878;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 4px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style-type: none;
}

ul {
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 10px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #eeeeee;
}
